HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
abstractive-version-control-system-manager.log
.zsv/
/git-test-server/test-repo.git/objects/34/5e6aef713208c8d50cdea23b85e6ad831f0449
/git-test-server/test-repo.git/hooks/applypatch-msg.sample
/git-test-server/test-repo.git/objects/37/b83e9339a42d4876e1cf015e968d2a035d440a
/git-test-server/test-repo.git/hooks/commit-msg.sample
/git-test-server/test-repo.git/config
/git-test-server/test-repo.git/description
/git-test-server/test-repo.git/info/exclude
/git-test-server/test-repo.git/objects/cd/f4e0b1f3839f560ba0a8e14182d9adec2effcf
/git-test-server/test-repo.git/hooks/fsmonitor-watchman.sample
/git-test-server/test-repo.git/HEAD
/git-test-server/test-repo.git/refs/heads/master
/git-test-server/test-repo.git/hooks/post-update.sample
/git-test-server/test-repo.git/hooks/pre-applypatch.sample
/git-test-server/test-repo.git/hooks/pre-commit.sample
/git-test-server/test-repo.git/hooks/pre-merge-commit.sample
/git-test-server/test-repo.git/hooks/pre-push.sample
/git-test-server/test-repo.git/hooks/pre-rebase.sample
/git-test-server/test-repo.git/hooks/pre-receive.sample
/git-test-server/test-repo.git/hooks/prepare-commit-msg.sample
/git-test-server/test-repo.git/hooks/push-to-checkout.sample
/git-test-server/test-repo.git/hooks/update.sample
