spring:
  application:
    name: abstractive-version-control-system-manager

  shell:
    interactive:
      enabled: false
    history:
      enabled: false
  main:
    banner-mode: off
    web-application-type: none

logging:
  level:
    root: OFF